{% extends 'html/main.html' %}
{% load static %}

{% block content %}
<div class="blockname" style="margin-top:40px;">
    Основные блюда
</div>

<div class="cont">
    <div class="cont2">
        <div class="blck">

        </div>
            <div class="blck">

        </div>
            <div class="blck">

        </div>
            <div class="blck">

        </div>
            <div class="blck">

        </div>
            <div class="blck">

        </div>
    </div>
</div>


{% endblock %}